@tailwind base;
@tailwind components;
@tailwind utilities;

li{
    @apply list-none;
}

h1, h2, h3, h4 {
    @apply font-syne;
}

h1 {
    @apply text-3xl;
}

h2 {
    @apply text-2xl;
}

h3 {
    @apply text-xl
}

h4 {
    @apply text-lg
}

p, a, li {
    @apply font-noto font-medium;
}

.content_area h1 {
    @apply font-bold mb-10 sm:mb-4 md:mb-7; 
}

.content_area h2 {
    @apply mb-1; 
}

.content_area h1,.content_area h2,.content_area h3,.content_area h4,.content_area h5 {
    @apply text-ctp-green;
}

.content_area a {
    @apply text-ctp-green underline underline-offset-4 hover:text-ctp-base hover:no-underline hover:bg-ctp-green px-[0.5ch] transition-colors duration-500 select-text rounded-sm;
}

.content_area p {
    @apply text-justify;
}

.writing_content h1 {
    @apply font-bold mb-10 sm:mb-4 md:mb-7 text-ctp-lavender;
}

.writing_content h2 {
    @apply font-semibold mb-1 text-ctp-teal;
}

.writing_content h3 {
    @apply font-medium mb-0.5 text-ctp-peach
}

.writing_content a {
    @apply text-ctp-green underline underline-offset-4 hover:text-ctp-base hover:no-underline hover:bg-ctp-green px-[0.5ch] transition-colors duration-500 select-text rounded-sm;
}

.writing_content em {
    @apply font-thin text-ctp-sapphire
}

.writing_content pre {
    @apply bg-ctp-base p-5 
}

.writing_content code {
    @apply whitespace-pre-wrap font-jetbrains
}

.writing_content img {
    @apply mx-auto;
}

.social_link{
    @apply w-6 aspect-square fill-ctp-text hover:opacity-50
}

.arrow{
    @apply w-3 sm:w-2 aspect-square fill-ctp-text;
}

* {
    @apply m-0 p-0 box-border selection:bg-ctp-surface2 selection:text-ctp-text transition-all duration-500 scroll-smooth;
}

a {
    @apply select-none
}

@layer base {
    /* Encode Sans Condensed */
	@font-face {
		font-family: 'Encode Sans Condensed';
        src: local('Encode Sans Condensed bold'), local('EncodeSansCondensed-Bold'), url('/fonts/Encode_Sans_Condensed/EncodeSansCondensed-Bold.ttf');
        font-weight: bold;
        font-display: swap;
	}
	@font-face {
		font-family: 'Encode Sans Condensed';
        src: local('Encode Sans Condensed Semibold'), local('EncodeSansCondensed-SemiBold'), url('/fonts/Encode_Sans_Condensed/EncodeSansCondensed-SemiBold.ttf');
        font-weight: semibold;
        font-display: swap;
	}

    /* Inter */
    @font-face {
        font-family: 'Inter';
        src: local('Inter Bold'), local('Inter-Bold'), url('/fonts/Inter/static/Inter-Medium.ttf');
        font-weight: medium;
        font-display: swap;
    }
    @font-face {
        font-family: 'Inter';
        src: local('Inter Regular'), local('Inter-Regular'), url('/fonts/Inter/static/Inter-Regular.ttf');
        font-weight: regular;
        font-display: swap;
    }
    @font-face {
        font-family: 'Inter';
        src: local('Inter Light'), local('Inter-Light'), url('/fonts/Inter/static/Inter-Light.ttf');
        font-weight: light;
        font-display: swap;
    }

    /* Noto Sans */
    @font-face {
        font-family: 'Noto Sans';
        src: local('Noto Sans Bold'), local('NotoSans-Bold'), url('/fonts/Noto_Sans/static/NotoSans-Bold.ttf');
        font-weight: bold;
        font-display: swap;
    }
    @font-face {
        font-family: 'Noto Sans';
        src: local('Noto Sans Black'), local('NotoSans-Black'), url('/fonts/Noto_Sans/static/NotoSans-Medium.ttf');
        font-weight: medium;
        font-display: swap;
    }
    @font-face {
        font-family: 'Noto Sans';
        src: local('Noto Sans Black'), local('NotoSans-Black'), url('/fonts/Noto_Sans/static/NotoSans-Regular.ttf');
        font-weight: regular;
        font-display: swap;
    }
    @font-face {
        font-family: 'Noto Sans';
        src: local('Noto Sans Black'), local('NotoSans-Black'), url('/fonts/Noto_Sans/static/NotoSans-Light.ttf');
        font-weight: light;
        font-display: swap;
    }

    /* Syne */
    @font-face {
        font-family: 'Syne';
        src: url('/fonts/Syne/Syne-VariableFont_wght.ttf');
        font-weight: 100 900; /* Range of font weights available in the variable font */
        font-stretch: 1% 100%; /* Range of font stretches available in the variable font */
        font-style: normal; /* or italic if the font supports it */
        font-display: swap;
    }

    /* JetBrains Mono */
    @font-face {
        font-family: 'JetBrains Mono';
        src: url('/fonts/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf');
        font-weight: 100 900; /* Range of font weights available in the variable font */
        font-stretch: 1% 100%; /* Range of font stretches available in the variable font */
        font-style: normal; /* or italic if the font supports it */
        font-display: swap;
    }
}

